/*
        .rock-button {
            background-color: red;
            color: black;
            border: outset
        }

        .paper-button {
            background-color: yellow;
            color: black;
            border: outset
        }

        .scissors-button {
            background-color: dodgerblue;
            color: black;
            border: outset
        }
            */


.rock-button, .paper-button, .scissors-button, .reset-button {
    margin: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
}

body {
    background-color: black;
    color: white;
    font-family: Arial;
}

.move-icon {
    height: 200px;
    width: 400px;
}

.move-button {
    padding: 100px, 100px;
}

.reset-button {
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
}

.title {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Patrick Hand SC', cursive;
}

.move-description {
    color: white;
    font-family: Arial;
}

.move-title {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    font-size: 50px;
}

.player-move, .computer-move, .result, .score-record {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    font-size: 20px;
}

.hunter_img {
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 0 auto;
    width: 300px;
}
